@using GiftShopApp.Models
@model List<TableProduct>
@{
    ViewBag.Title = "TestList";
}
<head>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
</head>

<h2>TestList</h2>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Ürün Fiyatı</th>
            <th>Ürünü Sil</th>
            <th>Ürünü Güncelle</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.ProductPrice</td>
                <td>
                    <a href="@Url.Action("TestDelete","Test",new { pid = product.ProductID })">Sil</a>
                </td>
                <td>
                    <a href="@Url.Action("TestUpdate","Test",new { pid = product.ProductID })">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>


